<div class="signin-page">

	<h1 class="sign-in-or-up-title">Welcome To Scatterbrain!</h1>

	<form action="/session" class="signin-form" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	
		<label class="form-field">Email
			<input type="text" name="user[email]">
		</label>
	
		<label class="form-field">Password
			<input type="password" name="user[password]">
		</label><br>
	
		<input type="submit" value="Sign In" class="btn btn-primary">
		
		<form action="/session" class="signin-form" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	
			<input type="hidden" name="user[email]" value="guest">
	
			<input type="hidden" name="user[password]" value="password">
		
			<input type="submit" value="Guest Login" class="btn btn-primary guest-login-button">
		</form>

	</form>
	

</div>