<div class="panel panel-default">
	<div class="panel-heading">Top Segments</div>
	<table class="table">
		
		<thead>
			<tr>
				<th>Quote</th>
				<th>Song</th>
				<th>Top Tag</th>
			</tr>
		</thead>
		
		<tbody>
			<% segments.each(function(segment) { %>
				<tr>
					<td><%= segment.escape('quote') %></td>
					<td><a href="#/songs/<%= segment.get('song_id') %>"><%= segment.escape('song_title') %></td>
					<td>Not Implemented</td>
				</tr>
			<% }) %>
		</tbody>
		
	</table>
</div>