<div class="panel panel-default">
	<div class="panel-heading">Top Songs</div>
	<table class="table">
		
		<thead>
			<tr>
				<th>Title</th>
				<th>Artist</th>
				<th>Top Tag</th>
			</tr>
		</thead>
		
		<tbody>
			<% songs.each(function(song) { %>
				<tr>
					<td><a href="#/songs/<%= song.id %>"> <%= song.get('title') %></td>
					<td>Not Implemented</td>
					<td>Not Implemented</td>
				</tr>
			<% }) %>
		</tbody>
		
	</table>
</div>