<div class="taggable-holder"><textarea disabled class="taggable"><%= song.get('lyrics') %></textarea></div>

<script>
    $(function() {
         $('textarea').height($('textarea').prop('scrollHeight'));
    });
</script>