<!-- <div class="expandingArea">
	<pre><span></span><br></pre>
	<textarea class="taggable"><%= song.get('lyrics') %></textarea>
</div> -->

<textarea disabled class="taggable"><%= song.get('lyrics') %></textarea>

<script>
    $(function() {
         $('textarea').height($('textarea').prop('scrollHeight'));
    });
</script>