<h3>How does this make you feel?</h3>
<h4 class="segment-quote"><h4>

<ul class="tag-list">
	<% tags.forEach( function (tag) { %> 
		<li data-id="<%= tag.id %>"><%= tag.get('name') %></li> 
	<% }); %>
</ul>

<button class="create-segment">Tag Segment</button>