<h3>How are you feeling?</h3>
<h4 class="segment-quote"><h4>

<ul class="tag-list">
	<% tags.forEach( function (tag) { %> 
		<li class="tag-list-item" data-id="<%= tag.id %>"><%= tag.get('name') %></li> 
	<% }); %>
</ul>