<ul class="song-emoji-container">
	<% tags.each( function (tag) { %>
		<li class="song-emoji" data-id="<%= tag.id %>">:<%= tag.get('emoji_name') %>:</li>
	<% }) %>
</ul>

<ul class="song-emoji-counts">
	<% tags.each( function (tag) { %>
		<li class="song-emoji-count" data-id="<%= tag.id %>"><%= song.taggingsByTagId(tag.id).length %></li>
	<% }) %>
</ul>

<script>
	emojify.run();
</script>