// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-page {
	text-align: center;
}

.signup-form {
	width: 400px;
	height: 100px;
	background-color:rgba(100,100,100,0);

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

h3.form-header {
	color: white;
}

h1.sign-in-or-up-title {
	background: url(http://www.psdgraphics.com/file/colorful-triangles-background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	overflow: auto;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	height: 50px;
	color: white;
}

label.form-field {
	margin-left: auto;
	margin-right: auto;
}

input.btn.btn-primary {
	background-color:rgba(100,100,100,0.5);
	border-color: white;
}

button#guest-login-button {
	background-color:rgba(100,100,100,0.5);
	border-color: white;
}