// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-page {
	text-align: center;
}

.signup-form {
	background-color:rgba(100,100,100,0);
	float: right;
	width: 100%;
	font-size: 1.1em;
	margin-top: 200px;
}

h1.sign-in-or-up-title {
	background: #222222;
	overflow: auto;
	padding: 0;
	margin: 0;
	padding-top: 10px;
	border-collapse: collapse;
	height: 50px;
	color: white;
}

label.form-field {
	margin-left: 5px;
	color: white;
}

input.btn.btn-primary {
	font-weight: bold;
	color: white;
	background-color: rgba(100, 100 ,100 , 0.5);
	border: 2px solid white;
	margin-top: 5px;
}

input.btn.btn-primary:hover {
-webkit-animation:rainbow-background 2s infinite;
-ms-animation:rainbow-background 2s infinite;
-o-animation:rainbow-background 2s infinite;
animation:rainbow-background 2s infinite;
}