// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-page {
	background: #34363a; /* Old browsers */
	background: -moz-linear-gradient(top, #34363a 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #34363a 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #34363a 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34363a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	position: absolute;
	width: 100%;
	bottom: 0;
	top: 52px;
	text-align: center;
}

.signup-form {
	background-color:rgba(100,100,100,0);
	float: right;
	width: 100%;
	font-size: 1.1em;
	margin-top: 200px;
}

h1.sign-in-or-up-title {
	overflow: auto;
	padding: 0;
	margin: 0;
	padding-top: 10px;
	border-collapse: collapse;
	height: 50px;
	color: white;
}

label.form-field {
	margin-left: 5px;
	color: white;
}

input.btn.btn-primary {
	font-weight: bold;
	color: white;
	background-color: rgba(100, 100 ,100 , 0.5);
	border: 2px solid white;
	margin-top: 5px;
}

input.btn.btn-primary:hover {
-webkit-animation:rainbow-background 2s infinite;
-ms-animation:rainbow-background 2s infinite;
-o-animation:rainbow-background 2s infinite;
animation:rainbow-background 2s infinite;
}