// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-out-button {
	background: none;
	border: none;
	font-size: 1em;
	color: blue;
}

.taggable {
	width: 500px;
	outline: none;
	resize: none;
}

//textarea,
//pre {
//	margin: 0;
//	padding: 0;
//	outline: 0;
//	border: 0;
//}
//
//.expandingArea {
//	position: relative;
//	border: 1px solid #888;
//	background: #fff;
//}
//
//.expandingArea > textarea,
//.expandingArea > pre {
//	padding: 5px;
//	background: transparent;
//	font: 400 13px/16px helvetica, arial, sans-serif;
//
//	white-space: pre-wrap;
//	word-wrap: break-word;
//}
//
//.expandingArea > textarea {
//	-webkit-box-sizing: border-box;
//	-moz-box-sizing: border-box;
//	-ms-box-sizing: border-box;
//	box-sizing: border-box;
//	width: 100%;
//	height: 100px;
//}
//
//.expandingArea.active > textarea {
//	overflow: hidden;
//	position: absolute;
//	top: 0;
//	left: 0;
//	height: 100%;
//	resize: none;
//}
//
//.expandingArea > pre {
//	display: none;
//}
//
//.expandingArea.active > pre {
//	display: block;
//	visibility: hidden;
//}