// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	background: url(http://www.psdgraphics.com/file/colorful-triangles-background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

div#content {
	background: url(http://www.psdgraphics.com/file/colorful-triangles-background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	overflow: auto;
}

h1.title {
	text-align: center;
	color: white;
}

h3.title {
	text-align: center;
	color: white;
}

.navbar.navbar-default {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

.panel.panel-default {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#sign-out-button {
	background: none;
	border: none;
	font-size: 1em;
	color: blue;
}

h3.home-emoji-title {
	text-align: center;
	color: white;
}

ul.home-emoji-container {
	width: 100%;
	display: table;
}

li.home-emoji {
	display: table-cell;
	text-align: center;
	width: auto;
	opacity: 0.8;
}

li.home-emoji:hover {
	cursor: pointer;
	opacity: 1;
}

ul.home-emoji-names {
	width: 100%;
	display: table;
	table-layout: fixed;
}

li.home-emoji-name {
	display: table-cell;
	width: auto;
	font-size: 150%;
	text-align: center;
	
	-webkit-animation:rainbow 1s infinite;
	-ms-animation:rainbow 1s infinite;
	-o-animation:rainbow 1s infinite;
	animation:rainbow 1s infinite;
}

div.home-panels {
}

div#home-songs-index {
	width: 500px;
	float: left;
	position: relative;
	bottom: 10px;
	margin-top: 100px;
	margin-left: 50px;
}

div#site-description {
	float: right;
	position: relative;
	bottom: 10px;
	width: 500px;
	margin-top: 105px;
	margin-right: 50px;
	font-size: 120%;
	color: darkblue;
}

div.not-popup {
	margin-left: 20px;
	margin-bottom: 10px;
}

h1.song-title {
	color: white;
}

.taggable {
	width: 500px;
	white-space: pre;
	outline: none;
	resize: none;
	color: white;
	font-size: 110%;
}

.song-emoji-index {
	position: fixed;
	left: 500px;
	top: 50px;
	color: white;
}

ul.song-emoji-container {
	width: 100%;
	display: table;
	table-layout: fixed;
}

li.song-emoji {
	display: table-cell;
	text-align: center;
	width: 40px;
	margin-right: 10px;
	margin-left: 10px;
}

img.emoji {
	width: 40px;
	margin-right: 10px;
	margin-left: 10px;
}

ul.song-emoji-counts {
	width: 100%;
	display: table;
	table-layout: fixed;
}

li.song-emoji-count {
	display: table-cell;
	text-align: center;
	width: 40px;
	margin-right: 10px;
	margin-left: 10px;
	color: white;
}

.tag-popup {
	position: fixed;
	left: 600px;
	top: 250px;
	color: white;
}

.tag-popup .hidden {
	display: none;
}

.tagged {
	background-color: orange;
	color: purple;
	cursor: pointer;
}

.tagged:hover {
	background-color: red;
}

.tag-list:hover {
	cursor: pointer;
}

.tag-list-item:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}