// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signin-page {
	text-align: center;
}

.signin-form {
	background-color:rgba(100,100,100,0);
	float: right;
	width: 100%;
	font-size: 1.1em;
	margin-top: 200px;
}

label.form-field {
	margin-left: 5px;
	color: white;
}

label.form-field input {
	color: black;
}

input.btn.btn-primary {
	font-weight: bold;
	color: white;
	background-color: rgba(100, 100 ,100 , 0.5);
	border: 2px solid white;
	margin-top: 5px;
}

input.btn.btn-primary.guest-login-button {
	font-size: 1.5em;
	display: block;
	margin: auto;
	margin-top: 100px;
}
