<h3 class="home-emoji-title">How are you feeling today?</h3><br>

<div class="home-emoji-container">
	<% tags.each( function (tag) { %>
		:<%= tag.get('emoji_name') %>:
	<% }) %>
</div>

<div>
	<% tags.each( function (tag) { %>
		<%= tag.get('name') %>---
	<% })%>
</div>

<script>
	emojify.run();
</script>