<h3 class="home-emoji-title">How are you feeling today?</h3><br>

<div class="home-emoji-index">
	<ul class="home-emoji-container">
		<% tags.each( function (tag) { %>
			<li class="home-emoji">:<%= tag.get('emoji_name') %>:</li>
		<% }) %>
	</ul>
</div>

<div>
	<% tags.each( function (tag) { %>
		<%= tag.get('name') %>---
	<% })%>
</div>

<script>
	emojify.run();
</script>