<h3 class="home-emoji-title">How are you feeling today?</h3><br>

<div class="home-emoji-index">
	<ul class="home-emoji-container">
		<% tags.each( function (tag) { %>
			<li class="home-emoji" data-id="<%= tag.id %>">:<%= tag.get('emoji_name') %>:</li>
		<% }) %>
	</ul>
	
	<ul class="home-emoji-names">
		<% tags.each( function (tag) { %>
			<li class="home-emoji-name hidden" data-id="<%= tag.id %>"><%= tag.get('name') %></li>
		<% }) %>
	</ul>
</div>

<script>
	emojify.run();
</script>