<h1 class="title">Welcome to Scatterbrain!</h1>



<div id="front-emojis">
	:smile:
</div>


<div id="home-songs-index"></div>

<div id="site-description">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">About Scatterbrain</h3>
		</div>
		
		<div class="panel-body">
			Scatterbrain is a lyric tagging website, inspired by the functionality of Rap Genius, where users can select lyrics from songs and tag them with emotions. Feel free to tag some of our songs, or click the emoticons above to see what lines inspired our other users the most!
		</div>
	</div>
</div>

<script>
	emojify.run();
</script>