<h1><%= tag.get('name') %> lyrics</h1>

<div class="panel panel-default">
	<div class="panel-heading">Tags</div>
	<table class="table">
		
		<thead>
			<tr>
				<th>Quote</th>
				<th># Tags</th>
			</tr>
		</thead>
		
		<tbody>
			<% tag.segments().each(function(segment) { %>
				<tr>
					<td><a href="#/songs/<%= segment.get('song_id') %>"> <%= segment.get('quote') %></td>
					<td><%= segment.taggingsByTagId(tag.id).length %></td>
				</tr>
			<% }); %>
		</tbody>
		
	</table>
</div>